<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Общее разрешение для сервисов -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />

    <!-- Разрешения для конкретных типов сервисов (Android 14+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" /> <!-- ДОБАВЛЕНО -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Разрешение для показа окон поверх блокировки -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- Разрешение для автозапуска -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.V900">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.V900"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity для тревоги (FullScreenIntent) -->
        <!--
        <activity
            android:name=".alerts.AlertActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/Theme.V900"
            android:turnScreenOn="true" />
            -->

        <!-- Ресивер для автозапуска при старте телефона -->
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.ForegroundCommService"
            android:exported="true"
            android:foregroundServiceType="connectedDevice|dataSync" />

        <!-- Сервис тревоги -->
        <service
            android:name=".alerts.AlertForegroundService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice|mediaPlayback|dataSync" />
    </application>

</manifest>